asgiref==3.8.1
crispy-bootstrap4==2024.10
crispy-bootstrap5==2025.4
dj-database-url==3.0.1
Django==5.1.7
django-crispy-forms==2.4
gunicorn==23.0.0
packaging==25.0
setuptools==80.8.0
sqlparse==0.5.3
tzdata==2025.1
whitenoise==6.9.0
