{% extends 'base.html' %}

{% block title %}Lista de Servidores{% endblock %}

{% block body %}
<h1>Lista de Servidores</h1>
<a href="{% url 'pusukids:server_create' %}" class="btn btn-primary mb-3">Registrar Nuevo Servidor</a>

{% if servers %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Coordinador(a)</th>
                <th>Grupo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for server in servers %}
            <tr>
                <td>{{ server.name }}</td>
                <td>{{ server.surname }}</td>
                <td>{{ server.coordinator }}</td> {# Muestra el __str__ del coordinador #}
                <td>{{ server.group }}</td>     {# Muestra el __str__ del grupo #}
                <td>
                    <a href="{% url 'pusukids:server_detail' server.pk %}" class="btn btn-info btn-sm">Ver</a>
                    <a href="{% url 'pusukids:server_update' server.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'pusukids:server_delete' server.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay servidores registrados.</p>
{% endif %}
{% endblock %}
